<body>
    <div>
        <a onmouseenter="mouseEnter(event)" onmouseleave="mouseLeave(event)">반가워요</a>
    </div>
    <script>
        function mouseEnter(event) {
            event.target.style.color = '#F00';
        }

        function mouseLeave(event) {
            event.target.style.color = '#00F';
        }
    </script>

    <div>
        <a href="https://scratch.mit.edu/projects/780916382/" target="_blank" style="font-size: 30px">게임하러가기</a>
    </div>
    
    <div>
        <a onclick="mouseClick(event)" style="font-size: 30px">종료</a>
    </div>
    <script>
        function mouseClick(event) {
            window.close();
        }
    </script>
</body>
